.review-kudri {
    min-height: 100px;
}

.review-kudri .list-group-item  {
    border: none;
    padding: 0px;
    background: inherit;
    /* background: rgba(72, 72, 72, 0.2); */
}

.review-kudri .list-group-item img {
    border-radius: 100%;
    border: 6px solid #FFC0CB;
}

.review-kudri .list-group-item p {
    background: rgba(72, 72, 72, 0.2);
    border-radius: 10%;
}