@import url('https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel&display=swap');

.navbar-kudri {
    background-color:#484848;
}

.salon-name {
    font-family: "Monsieur La Doulaise";
    color: #ffffff;
    letter-spacing: 3px;
    height: inherit;
}

.salon-name:hover {
    color: #FFC0CB;
    text-decoration: none;
}

.salon-name h1 {
    margin-top: 10px;
}

.nav-item a {
    color: #ffffff;
    font-family: "Lovers Quarrel";
    font-size: 35px;
    letter-spacing: 2px;
}

.nav-item a:hover {
    color:#FFC0CB;
}