.jumbotron {
    background-image: url("./salon3.png");
    height: 530px;
}

.jumbotron-kudri {
    height: 530px;
}

.jumbotron .container {
    background-color: rgba(72, 72, 72, 0.7);
    color: #ffffff;
    font-family: "Quicksand";
}

.kudri-list .active {
    border-color: #ffffff;
}

.kudri-list .list-group-item {
    background-color: rgba(72, 72, 72, 0.7);
}

.kudri-list .media:hover {
    color: #FFC0CB;
}

.kudri-button .btn {
    text-align: center;
    font-size: 1em;
}

.kudri-button .btn:hover {
    background-color: #FFC0CB;
    color: rgba(72, 72, 72, 0.7);
}